* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background: #faf6ed;
  color: #222;
  font-family: "IBM Plex Mono", monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 600px;
  width: 100%;
  min-height: inherit;
  margin: auto;
}

section {
  border: 3px solid #000;
  padding: 1rem 2rem;
  width: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.buscar label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.cep-fields {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.cep-fields input {
  background-color: transparent;
  border: 2px solid #000;
  width: 100%;
  min-height: 100%;
  padding-inline: .5rem;
}

.cep-fields button {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0.725rem 2rem;
}

.cep {
    margin-top: 15px;
}

.cep:empty {
  display: none;
}

.bitcoin {
    display: flex;
}

[data-bitcoin="value"] {
    border-bottom: 3px solid #000;
    min-width: 150px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-top: 8px;
    font-size: 1.125rem;
    text-align: center;
}

.norris blockquote {
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid #000;
    margin-block: 13px;
    font-style: italic;
    font-size: 1.2rem;
}

.norris blockquote:empty {
    display: none;
}

.norris figcaption {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 15px;
}

.norris button {
    display: block;
    margin-left: auto;
    padding: 1rem 2rem;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}